.main h2, .main h3, .main h4 {
  font-family: "Poppins", sans-serif;
  color: #253757;
  font-weight: 600; }

html,
body,
ul,
li,
button,
input,
textarea,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px; }

a {
  text-decoration: none; }

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2c2c2c;
  color: #fff;
  height: 751px;
  padding: 49px 30px 0;
  font-family: "Poppins", sans-serif;
  border-radius: 0 0 30px 30px; }
  .header__logo {
    padding-right: 46px; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1200px;
    width: 100%; }
  .header__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 1200px;
    width: 100%; }
  .header__article {
    width: 50%; }
    .header__article .article__title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-width: 362px;
      margin-top: 168px;
      font-style: normal;
      font-weight: 600;
      font-size: 64px;
      line-height: 68px;
      letter-spacing: -2px; }
    .header__article .article__text {
      margin-top: 32px;
      margin-bottom: 0;
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      line-height: 150%;
      max-width: 362px; }
  .header__button {
    margin-top: 83px; }
  .header__aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-image: url(../images/slider/slide-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 45%;
    height: 680px;
    border-radius: 30px 0; }
    .header__aside .slider {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 50%;
      padding-bottom: 48px;
      margin-left: 44px; }
      .header__aside .slider__button svg {
        border-radius: 16px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 32px;
        height: 32px;
        padding: 9px;
        fill: #253757;
        margin: 4px;
        cursor: pointer;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        background-color: #fff; }
        .header__aside .slider__button svg:hover {
          -webkit-transform: scale(90%);
                  transform: scale(90%); }
      .header__aside .slider__info {
        padding-left: 20px;
        padding-right: 20px; }
        .header__aside .slider__info p:first-child {
          font-family: "Poppins", sans-serif;
          font-weight: bold;
          font-size: 13px;
          line-height: 19px;
          letter-spacing: 3px;
          text-transform: uppercase;
          margin: 0; }
        .header__aside .slider__info p:last-child {
          font-family: "Open Sans", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 140%;
          margin: 0;
          padding-top: 8px; }

@media screen and (max-width: 1000px) {
  .header {
    padding-right: 0;
    padding-left: 0; }
    .header .article {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 100%;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .header .article__title {
        text-align: center;
        font-size: 64px;
        line-height: 68px;
        margin-top: 30px; }
      .header .article__text {
        padding: 20px;
        text-align: center; }
    .header__top {
      padding: 0;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: end; }
    .header__logo {
      display: none; }
    .header__action {
      -webkit-transform: translate(50%, 10%);
              transform: translate(50%, 10%);
      z-index: 3;
      position: absolute;
      right: 20vw; }
    .header__info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0; }
    .header__button {
      margin-top: 10px; }
    .header__aside {
      height: 40%;
      width: 100%; } }

@media screen and (max-width: 600px) {
  .header__aside .slider {
    max-width: 320px;
    width: 100%;
    margin-left: 10px;
    padding-bottom: 20px; } }

#menuToggle input {
  display: none; }

#menuToggle span {
  display: none;
  width: 32px;
  height: 2px;
  margin-bottom: 8px;
  background: #fff;
  border-radius: 2px;
  z-index: 3;
  -webkit-transform-origin: 2px 0;
          transform-origin: 2px 0;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1) opacity 0.55s;
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1) opacity 0.55s;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1) opacity 0.55s;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1) opacity 0.55s, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1) opacity 0.55s; }
  #menuToggle span:first-child {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%; }
  #menuToggle span:nth-last-child(2) {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
    font-size: 12px;
    line-height: 16px; }
  .nav__item {
    padding: 0 32px; }
  .nav__link {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 3px;
    text-decoration: none;
    color: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-transform: uppercase;
    padding: 8px 0;
    border-bottom: 2px solid #2c2c2c; }
    .nav__link:hover {
      border-bottom: 2px solid #2060f6; }

@media screen and (max-width: 1000px) {
  .nav {
    position: absolute;
    z-index: 3;
    right: 0; }
    .nav__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .nav__item {
      max-width: 160px;
      padding-top: 30px; }
  #menu {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 400px;
    width: 100vw;
    margin-top: 0;
    right: 0;
    z-index: -1;
    background: #2c2c2c;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: translate(0, -150%);
            transform: translate(0, -150%);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
  #menuToggle {
    left: 0;
    padding-right: 80vw;
    -webkit-transform: translate(0, 30%);
            transform: translate(0, 30%);
    z-index: 3; }
    #menuToggle span {
      display: block;
      z-index: 3;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      #menuToggle span:hover {
        background: lightgray; }
    #menuToggle input:checked ~ span {
      opacity: 1;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
      #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        -webkit-transform: rotate(0deg) scale(0.2, 0.2);
                transform: rotate(0deg) scale(0.2, 0.2); }
      #menuToggle input:checked ~ span:nth-last-child(2) {
        opacity: 1;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }
    #menuToggle input:checked ~ ul {
      -webkit-transform: none;
              transform: none;
      opacity: 1; } }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .main h2 {
    font-size: 52px; }
  .main h3 {
    font-size: 32px; }
  .main h4 {
    font-size: 20px; }
  .main p {
    color: #6c788b;
    line-height: 150%; }
  .main__block {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 30px; }
    .main__block__title {
      text-align: center; }
    .main__block__article {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      max-width: 754px;
      width: 100%;
      margin: 148px 0; }
    .main__block .article__text {
      margin: 0;
      font-size: 24px;
      padding-top: 16px; }
    .main__block__expertise {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 100%;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background-color: #fff;
      border-radius: 30px;
      padding-bottom: 155px; }
    .main__block__process {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      max-width: 1200px; }
    .main__block__approach {
      height: 976px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      -ms-flex-item-align: end;
          align-self: flex-end;
      width: 95%;
      padding-right: 0;
      background-color: #2c2c2c;
      border-radius: 30px 0 0 30px;
      z-index: -1; }
    .main__block__testimonials {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 100%;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      max-width: 1200px; }
    .main__block__vision {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      background-color: #fff;
      background-image: url(../images/bg/BG.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }

.expertise__articles {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1200px;
  padding: 0 30px; }

@media screen and (max-width: 1050px) {
  .main__block__article {
    margin: 40px 0; }
    .main__block__article .article__text {
      font-size: 19px; }
  .main__block__expertise {
    padding-top: 40px;
    padding-bottom: 0; }
  .main__block__process {
    padding-top: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .main__block__testimonials {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .expertise__articles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

@media screen and (max-width: 450px) {
  .main__block__approach {
    width: 100%;
    height: 1200px; } }

.expertise__articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 64px; }
  .expertise__articles > .article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .expertise__articles > .article > .article__img {
      width: 184px;
      height: 166px;
      border-radius: 30px;
      -o-object-fit: cover;
         object-fit: cover; }
    .expertise__articles > .article > .article__title {
      margin: 0;
      padding-top: 40px; }
    .expertise__articles > .article > .article__text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center;
      width: 100%;
      font-size: 14px;
      max-width: 264px;
      margin: 0;
      padding-top: 16px; }

@media screen and (max-width: 1000px) {
  .expertise__articles > .article {
    padding-bottom: 80px; } }

.process .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 362px; }
  .process .article__preview {
    margin: 0;
    padding-bottom: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7; }
  .process .article__text {
    font-size: 14px; }

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 148px;
  padding-bottom: 44px; }
  .cards__container__left {
    padding-right: 30px;
    -webkit-transform: translateY(25%);
            transform: translateY(25%); }
  .cards__container__top {
    margin-bottom: 30px; }

.card {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 264px;
  height: 264px;
  background: #fff;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 16px;
  padding: 32px;
  z-index: 2; }
  .card__number {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 2px;
    margin: 0;
    width: 46px;
    height: 24px;
    background-color: #2060f610;
    border-radius: 23px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase; }
  .card > .card__number {
    color: #2060f6; }
  .card__text {
    font-size: 13px;
    margin: 0;
    padding-top: 26px;
    padding-bottom: 32px; }
  .card__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .card__button__arrow {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin-right: 16px;
      cursor: pointer;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      background-color: #2060f6; }
      .card__button__arrow:hover {
        -webkit-transform: scale(110%);
                transform: scale(110%); }
    .card__button__text {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      color: #334563; }

@media screen and (max-width: 1000px) {
  .process .article {
    max-width: 1000px; }
  .cards {
    padding-top: 40px;
    padding-bottom: 40px; }
    .cards__container__left {
      -webkit-transform: translateY(0);
              transform: translateY(0); } }

@media screen and (max-width: 700px) {
  .cards {
    padding-top: 40px;
    padding-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .cards__container__left {
      padding-right: 0;
      padding-bottom: 30px; } }

.approach {
  width: 100%;
  color: #fff;
  max-width: 1200px;
  font-family: "Poppins", sans-serif; }
  .approach__article {
    width: 100%;
    max-width: 362px; }
    .approach__article .article__preview {
      margin: 0;
      padding-bottom: 16px;
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      font-size: 13px;
      line-height: 19px;
      letter-spacing: 3px;
      text-transform: uppercase; }
    .approach__article .article__title {
      font-family: "Poppins", sans-serif;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-width: 362px;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 150%;
      margin: 0;
      padding-top: 16px; }
    .approach__article .article__section {
      padding: 32px 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .approach__article .article__text {
      font-family: "Open Sans", sans-serif;
      padding: 0 0 0 34px;
      font-size: 15px;
      mix-blend-mode: normal; }
  .approach__aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-image: url(../images/features/features-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 45%;
    height: 687px;
    border-radius: 30px 0; }

@media screen and (max-width: 1000px) {
  .approach__article {
    width: 70%;
    padding-bottom: 50%;
    max-width: 1000px;
    margin: 0 auto; }
    .approach__article .article__section {
      padding: 16px 0; }
    .approach__article .article__text {
      padding-right: 30px; }
  .approach__aside {
    width: 60%;
    height: 40%; } }

@media screen and (max-width: 700px) {
  .approach__article {
    width: 100%;
    padding-bottom: 300px; }
  .approach__aside {
    width: 300px;
    height: 300px; } }

@media screen and (max-width: 450px) {
  .article__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .article__section > .article__button {
      padding-right: 20px;
      padding-bottom: 10px; }
  .approach__article .article__text {
    padding-left: 0; }
  .approach__article .article__title {
    max-width: 300px;
    background-color: yellowgreen; } }

.testimonials__header .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .testimonials__header .article__preview {
    margin-top: 148px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7; }
  .testimonials__header .article__title {
    margin: 16px 0 0;
    max-width: 200px; }

.testimonials__articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 85px 0 168px; }
  .testimonials__articles .article {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #fff;
    max-width: 314px;
    height: 494px;
    -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
            box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 16px;
    padding: 32px;
    padding-top: 87px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .testimonials__articles .article__pic {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 230px;
      height: 150px; }
      .testimonials__articles .article__pic__bg {
        position: absolute;
        height: 56px;
        width: 139px;
        background-color: #2060f6;
        z-index: 1;
        border-radius: 12px;
        -webkit-transform: rotate(-60deg);
                transform: rotate(-60deg); }
        .testimonials__articles .article__pic__bg:last-of-type {
          right: 0;
          bottom: 0; }
    .testimonials__articles .article__img {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 140px;
      height: 140px;
      border-radius: 50%;
      z-index: 2; }
    .testimonials__articles .article__svg {
      margin-top: 80px; }
    .testimonials__articles .article__text {
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 13px;
      line-height: 150%;
      text-align: center;
      color: #6c788b;
      padding: 10px 0 0; }
    .testimonials__articles .article__title {
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 13px;
      line-height: 150%;
      color: #253757;
      margin: 0;
      padding: 16px 0 0; }
    .testimonials__articles .article__preview {
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      font-size: 13px;
      line-height: 19px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #c0cdd7;
      margin: 0;
      padding: 4px 0 0; }

@media screen and (max-width: 1050px) {
  .testimonials__header .article__preview {
    margin-top: 48px; }
  .testimonials__articles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 0; }
    .testimonials__articles .article {
      margin-bottom: 30px; } }

@media screen and (max-width: 500px) {
  .testimonials__articles .article {
    max-width: 280px;
    padding-right: 10px;
    padding-left: 10px; } }

.vision {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 200px;
  margin-bottom: 300px;
  max-width: 740px;
  width: 100%; }
  .vision__article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
  .vision__button {
    margin-top: 64px; }

@media screen and (max-width: 700px) {
  .vision {
    margin-top: 75px;
    margin-bottom: 175px; } }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2c2c2c;
  color: #fff;
  padding: 180px 30px 80px;
  font-family: "Poppins", sans-serif;
  border-radius: 30px 30px  0 0;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px); }
  .footer__nav {
    margin-top: 120px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    max-width: 1200px; }
    .footer__nav .nav__list {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
  .footer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    max-width: 1200px; }
  .footer .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%; }
    .footer .form__title {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 150%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      color: #fff;
      margin-bottom: 10px; }
    .footer .form__send {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 90%; }
    .footer .form input,
    .footer .form textarea {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      margin-bottom: 10px;
      height: 50px;
      background: #2c2c2c;
      color: #fff;
      border: none;
      padding-top: 45px;
      resize: none;
      border-bottom: 2px solid rgba(255, 255, 255, 0.7); }
      .footer .form input::-webkit-input-placeholder, .footer .form textarea::-webkit-input-placeholder {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        color: #fff;
        opacity: 0.7; }
      .footer .form input::-moz-placeholder, .footer .form textarea::-moz-placeholder {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        color: #fff;
        opacity: 0.7; }
      .footer .form input:-ms-input-placeholder, .footer .form textarea:-ms-input-placeholder {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        color: #fff;
        opacity: 0.7; }
      .footer .form input::-ms-input-placeholder, .footer .form textarea::-ms-input-placeholder {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        color: #fff;
        opacity: 0.7; }
      .footer .form input::placeholder,
      .footer .form textarea::placeholder {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        color: #fff;
        opacity: 0.7; }
      .footer .form input:hover,
      .footer .form textarea:hover {
        border-bottom: 2px solid #2060f6; }
      .footer .form input:focus,
      .footer .form textarea:focus {
        border-bottom: 2px solid #2060f6; }
    .footer .form__button {
      margin-top: 80px; }
  .footer__contact {
    width: 50%; }
  .footer p {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.5;
    margin: 48px 0 8px; }
  .footer .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 5vw; }
    .footer .contact__title {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 150%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      color: #fff;
      width: 100%; }
    .footer .contact__links > a {
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 24px;
      line-height: 150%;
      opacity: 1;
      margin-top: 0;
      color: #fff;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
      .footer .contact__links > a:hover {
        color: rgba(255, 255, 255, 0.7); }
    .footer .contact__adres > p:last-child {
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 24px;
      line-height: 150%;
      opacity: 1;
      margin-top: 0; }
    .footer .contact__svg {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      margin-top: 20px; }
      .footer .contact__svg svg {
        width: 32px;
        height: 32px;
        margin-right: 36px;
        fill: white;
        -webkit-transition: 0.5s;
        transition: 0.5s; }
        .footer .contact__svg svg:hover {
          fill: #2060f6;
          stroke: #2060f6; }

@media screen and (max-width: 1000px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px; }
    .footer__nav {
      display: none; }
    .footer__info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .footer .form__button {
      margin: 40px auto; }
    .footer .contact {
      padding-top: 20px;
      padding-left: 0;
      margin-bottom: 80px; } }

@media screen and (max-width: 700px) {
  .footer .form {
    width: 100%; }
    .footer .form__send {
      width: 100%; }
  .footer__contact {
    width: 100%; } }

body {
  background: #e5e5e5; }

.button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 226px;
  height: 50px;
  border-color: #2060f6;
  background: #2060f6;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .button:hover {
    background: #5757ff;
    -webkit-transform: scale(105%);
            transform: scale(105%); }

/*# sourceMappingURL=main.css.map */
